<html>
<head>
<title>{t}Contract{/t}</title>
{literal}
<STYLE type="text/css"><!--
BODY	{ font-size: 7pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
H1		{ font-size: 10pt; text-align: center; }
H2		{ font-size: 8pt; text-align: center; color: red;}
TD		{ font-size: 7pt; font-family: Tahoma, Verdana, Arial, Helvetica; }
TABLE	{ border-collapse: collapse; }
P		{ font-size: 7pt; font-family: Tahoma, Verdana, Arial, Helvetica; text-align: center; }
TD.pass	{ font-size: 10pt; font-family: "Courier New", Courier, monospace; font-weight:bold;}
//-->
</STYLE>
{/literal}
<meta http-equiv="Content-Type" content="text/html; charset={$LANGDEFS.$_language.charset}">
</head>
<body>

<div>

<h1>Protokół Odbioru Technicznego Nr: {$document.nr}</h1>
<br><br>
<TABLE BORDER="0" size="100%">
	<TR>
		<TD valign="top">Nazwa/Nazwisko i imię: </TD>
		<TD><b>{$customerinfo.customername}</b></TD>
    	</TR>
    <TR>
		<TD>Adres: </TD> 
		<TD><b>{$customerinfo.address}<br>{$customerinfo.zip} {$customerinfo.city}</b></TD>
    	</TR>
    {if $customerinfo.ssn}	
    <TR>
		<TD>PESEL: </TD>
		<TD><b>{$customerinfo.ssn}</b></TD>
    	</TR>
	{/if}
	{if $customerinfo.ten}
    <TR>
	   	<TD>NIP: </TD>
    	<TD><b>{$customerinfo.ten}</b></TD>
    	</TR>
    {/if}
    <tr>
    	<td>Data wykonania przyłącza: </td>
    	<td><br>.................................................................................................</td></tr>
</TABLE>

<br><br>

Zainstalowane urządzenia:
<table border="1" width="100%">
    <tr>
        <td width="5%">Lp</td>
        <td width="50%">Nazwa</td>
        <td width="20%">Oznaczenie</td>
        <td width="10%">Własność<br>Operatora</td>
        <td width="10%">Własność<br>Użytkownika</td>
    </tr>
    <tr>
    	<td>1</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>2</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>3</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>4</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>5</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>6</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>7</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td>8</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    </tr>
</table>
<br>
Operator gwarantuje sprawne działanie wyżej wymienionego zestawu. Urządzenia, będące  własnością operatora podlegają naprawie / wymianie w ciągu 7 dni od zgłoszenia, urządzenia sprzedane na własność klientowi ulegają naprawie wymianie w ciągu 21 dni roboczych, w określonym okresie gwarancyjnym (12 miesięcy gdy nie wyszczególniono inaczej). W przypadku awarii dostępu do internetu z powodu awarii urządzeń operatora, użytkownikowi przysługuje rabat zgodnie z regulaminem.<br><br>

Wartość urządzeń (zestawu abonenckiego), będącego własnością operatora wycenia się na {$document.description}. Użytkownik zobowiązuje się do zwrotu zestawu abonenckiego w ciągu 7dni od rozwiązania lub wygaśnięcia umowy. W przypadku nie wywiązania się z tego obowiązku operator będzie naliczał 3% wartości sprzętu za każdy dzień opóźnienia.<br><br>

Operator oświadcza iż przekazał wszelkie dane autoryzacyjne, niezbędne do  uzyskanie dostępu do usług. (Klucze WEP, hasła PPPoE).
Abonent oświadcza, iż dane te mu są znane i wie jak ich używać.<br><br>

<b>UWAGA!!! Udostępnienie danych autoryzacyjnych osobom trzecich jest surowo zabronione, winę za udostępnienie ponosi abonent.</b><br><br>

Parametry logowania PPPoE:<br>

<TABLE cellpadding="3" cellspacing="0" border="1" width="100%">
    <TR>
	<TD WIDTH="70%">Miejsce instalacji:</TD>
	<TD WIDTH="10%">{t}Name:{/t}</TD>
	<TD WIDTH="10%">{t}IP Address:{/t}</TD>
	<TD WIDTH="10%">Hasło:</TD>
    </TR>
    {section name=customernodes loop=$customernodes}
    <TR>
		<TD>{if $customernodes[customernodes].location ne ""}
				{$customernodes[customernodes].location}
			{else}
				{$customerinfo.address} {$customerinfo.zip} {$customerinfo.city}
			{/if}
			</TD>
		<TD class='pass'>{$customernodes[customernodes].name}</TD>
		<TD>{$customernodes[customernodes].ip}</TD>
		<td class='pass'>{$customernodes[customernodes].passwd}</td>
    	</TR>
    {/section}
</TABLE>

<br><br>

<table border="1" width="100%">
    <tr>
        <td width="20%">Parametry sygnału:</td>
        <td width="80%"></td>
    	</tr>
    <tr>
    	<td>Opłaty</td>
    	<td></td>
    	</tr>
    <tr>
    	<td>Promocyjna aktywacja:</td>
    	<td></td>
    	</tr>
    <tr>
    	<td>&nbsp;</td><td></td></tr>
    <tr>
    	<td>&nbsp;</td><td></td></tr>
    <tr>
    	<td>&nbsp;</td><td></td></tr>
    <tr>
    	<td>&nbsp;</td><td></td></tr>
</table>

{if $customeraccounts}
KONTA POCZTOWE (I INNE)<br>
<TABLE cellpadding="3" cellspacing="0" border="1">
    <TR>
	<TD>{t}Login:{/t}</TD>
	<TD>{t}Domain:{/t}</TD>
	<TD>{t}Password:{/t}</TD>
	<TD>{t}Aliases:{/t}</TD>
	<TD>{t}Type:{/t}</TD>
    </TR>
    {foreach from=$customeraccounts item=account}
    <TR>
	<TD>{$account.login}</TD>
	<TD>{$account.domain}</TD>
	<TD>{$account.password}</TD>
	<TD>
	{foreach from=$account.aliases item=alias}
		{$alias}<BR>
	{/foreach}
	</TD>
	<TD>
	{if ($account.type & 1) == 1}{t}shell{/t}{/if}
	{if ($account.type & 2) == 2}{t}mail{/t}{/if}
	{if ($account.type & 4) == 4}{t}www{/t}{/if}
	{if ($account.type & 8) == 8}{t}ftp{/t}{/if}
	</TD>
    </TR>
    {/foreach}
</TABLE>	
{/if}
</div>

<BR><BR><br><br><br><br> <br> <br>

<TABLE WIDTH="100%">
    <TR>
	<TD WIDTH="50%" ALIGN="CENTER">.............................................</TD>
	<TD WIDTH="50%" ALIGN="CENTER">.............................................</TD>
    </TR>
    <TR>
	<TD ALIGN="CENTER">Użytkownik</TD>
	<TD ALIGN="CENTER">Operator</TD>
    </TR>
</TABLE>

</body>
</html>

