<TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark">
		<TD class="fall" width="100%" colspan="2">
			<TABLE>
				<TR>
					<TD>
						<B>Dodatkowe informacje dla Blitz Profit</B>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR class="light">
		<TD width="100%" class="fall"  style="vertical-align: top;">
			<TABLE cellpadding="2" cellspacing="0" WIDTH="100%">
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/money.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Załączniki do sprawy:
					</TD>
					<TD width="1%">
						<TEXTAREA rows="5" cols="70" name="document[zalaczniki]" {tip text="Wprowadź listę załączników do sprawy" trigger="zalaczniki"}></TEXTAREA> 
					</TD>
					<TD width="97%">&nbsp;</TD>
				</TR>
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/info.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Dodatkowe informacje:
					</TD>
					<TD width="1%">
						<TEXTAREA rows="5" cols="70" name="document[informacje]" {tip text="Dodatkowe informacje" trigger="informacje"}></TEXTAREA> 
					</TD>
					<TD width="97%">&nbsp;</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>


