<TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark">
		<TD class="fall" width="100%" colspan="2">
			<TABLE>
				<TR>
					<TD>
						<B>Nowa taryfa:</B>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR class="light">
		<TD width="100%" class="fall"  style="vertical-align: top;">
			<TABLE cellpadding="2" cellspacing="0" WIDTH="100%">
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/money.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Nowa taryfa:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="50" name="document[new_tar]" {tip text="Wprowadź nazwę nowej taryfy" trigger="new_tar"}>
					</TD>
					<TD width="1%" nowrap>
						Wartość brutto:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="5" name="document[new_tar_value]" {tip text="Wprowadź wartość cennikową nowej taryfy" trigger="new_tar_value"}>
					</TD>
					<TD width="95%">&nbsp;</TD>
				</TR>
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/info.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Upust:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="50" name="document[new_tar_upust]" {tip text="Wprowadź nazwę i powód upustu" trigger="new_tar_upust"}>
					</TD>
					<TD width="1%" nowrap>
						Wartość brutto:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="5" name="document[new_tar_upust_value]" {tip text="Wprowadź wartość upustu dla klienta" trigger="new_tar_upust_value"}>
					</TD>
					<TD width="95%">&nbsp;</TD>
				</TR>
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/money.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Aktywacja:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="50" name="document[new_akt]" {tip text="Wprowadź nazwę opłaty aktywacyjnej" trigger="new_akt"}>
					</TD>
					<TD width="1%" nowrap>
						Wartość brutto:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="5" name="document[new_akt_value]" {tip text="Wprowadź wartość cennikową opłaty aktywacyjnej" trigger="new_akt_upust"}>
					</TD>
					<TD width="95%">&nbsp;</TD>
				</TR>
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/info.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Upust:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="50" name="document[new_akt_upust]" {tip text="Wprowadź nazwę upustu w aktywacji" trigger="new_akt_upust"}>
					</TD>
					<TD width="1%" nowrap>
						Wartość brutto:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="5" name="document[new_akt_upust_value]" {tip text="Wprowadź wartość upustu w aktywacji" trigger="new_akt_upust_value"}>
					</TD>
					<TD width="95%">&nbsp;</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>


