<TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark">
		<TD class="fall" width="100%" colspan="2">
			<TABLE>
				<TR>
					<TD>
						<B>Nowa dupa matysi:</B>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR class="light">
		<TD width="100%" class="fall"  style="vertical-align: top;">
			<TABLE cellpadding="2" cellspacing="0" WIDTH="100%">
				<TR>
					<TD colspan=7>
						<DIV id="tablicaDisplay">
						</DIV>
					</TD>
				</TR>	
				<TR>
					<TD width="1%" valign="top">
						<IMG src="img/money.gif" alt="">
					</TD>
					<TD width="1%" nowrap>
						Nowa dupa:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="50" name="nowa_dupa" id="nowa_dupa" {tip text="Wprowadź nazwę nowej taryfy" trigger="new_tar"}>
					</TD>
					<TD width="1%" nowrap>
						Nowa dupa2:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="50" name="nowa_dupa2" id="nowa_dupa2" {tip text="Wprowadź nazwę nowej taryfy" trigger="new_tar"}>
					</TD>
					<TD width="1%" nowrap>
						Wartość brutto:
					</TD>
					<TD width="1%">
						<INPUT TYPE="text" size="5" name="nowa_dupa_brutto" id="nowa_dupa_brutto" {tip text="Wprowadź wartość cennikową nowej taryfy" trigger="new_tar_value"}>
					</TD>
					<TD width="1%" nowrap>
						<A href="javascript: AddItem();">Dodaj</A>
					</TD>
					<TD width="95%">&nbsp;</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>


