{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><FORM method="POST" action="?m=hostedit&id={$hostedit.id}" name="hostedit">
<INPUT type="submit" class="hiddenbtn">
<TABLE width="100%" cellpadding="3">
	<TR class="dark">
		<TD width="1%" class="fleftu">
			<img src="img/host.gif" alt="">
		</TD>
		<TD width="1%" class="fbt">
			<B>{trans("Name:")}</B>
		</TD>
		<TD width="98%" class="frightu">
			<INPUT type="text" size="40" name="hostedit[name]" value="{$hostedit.name}" {tip text="Enter host name" trigger="name" bold=1}>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<img src="img/ip.gif" alt="">
		</TD>
		<TD width="1%" NOWRAP>
			<B>{trans("IP Address:")}</B>
		</TD>
		<TD width="98%" class="fright">
			<INPUT size="53" name="hostedit[ipaddr]" value="{$hostedit.ipaddr}" {tip text="Enter ip address" trigger="ipaddr"}>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<img src="img/settings.gif" alt="">
		</TD>
		<TD width="1%" NOWRAP>
			<B>{trans("Type:")}</B>
		</TD>
		<TD width="98%" class="fright">
			<SELECT size="1" name="hostedit[servicetype]">
				<OPTION VALUE="0">Wybierz typ usługi</OPTION>
				<OPTION VALUE="B" {if $hostedit.servicetype=="B"}SELECTED{/if}>Blokady i ostrzeżenia</OPTION>
				<OPTION VALUE="F" {if $hostedit.servicetype=="F"}SELECTED{/if}>Firewall</OPTION>
				<OPTION VALUE="D" {if $hostedit.servicetype=="D"}SELECTED{/if}>DNS Server</OPTION>
				<OPTION VALUE="W" {if $hostedit.servicetype=="W"}SELECTED{/if}>WWW Server</OPTION>
				<OPTION VALUE="S" {if $hostedit.servicetype=="S"}SELECTED{/if}>SQL Server</OPTION>
				<OPTION VALUE="M" {if $hostedit.servicetype=="M"}SELECTED{/if}>MX Server</OPTION>
				<OPTION VALUE="R" {if $hostedit.servicetype=="R"}SELECTED{/if}>RADIUS Server</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</TD>
		<TD width="1%">
			<B>{trans("Description:")}</B>
		</TD>
		<TD width="98%" class="fright">
			<TEXTAREA rows="5" cols="50" name="hostedit[description]" {tip text="Enter additional information (optional)" trigger="value"}>{$hostedit.description}</TEXTAREA>
		</TD>
	</TR>
	<TR class="light">
		<TD class="fbottomu" align="right" colspan="3">
			<A href="javascript:document.hostedit.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></A>
			<A href="?m=hostlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></A><BR>
		</TD>
	</TR>
</TABLE>
</P>
<SCRIPT type="text/javascript">
<!--
document.forms['hostedit'].elements['hostedit[name]'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
