{include file="clearheader.html"}
<!--// $Id$ //-->
<TABLE width="100%" align="center">
	<TR>
		<TD width="100%" align="RIGHT">
			LMS {$layout.lmsv} @ {$layout.hostname}<BR>
			{$smarty.now|date_format:"%A, %x"}<BR>
			{t a=$layout.logname}Created by: $a{/t}
		</TD>
	</TR>
</TABLE>
<P>
<TABLE width="100%" cellpadding="3" border="1" align="CENTER">
	<TR>
		<TD class="HEAD" colspan="2">
			<H1>{t a=$ticket.ticketid|string_format:"%06d"}PROTOKÓŁ SERWISOWY do Zgłoszena Nr $a{/t}</H1>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<B>{trans("Subject:")}</B>
		</TD>
		<TD width="99%" NOWRAP>
		        <B>{$ticket.subject|escape|truncate:50:"..."}</B>
		</TD>
	</TR>
	<TR>
	        <TD width="1%">
			<B>{trans("Submitter:")}</B>
	        </TD>
	        <TD width="99%" NOWRAP>
			{if $ticket.customerid}
				{$ticket.customername|escape}
			{else}
				{$ticket.requestor|escape} 
			{/if}
			{if $ticket.requestoremail && !$ticket.customerid}
				{$ticket.requestoremail}
			{/if}
		</TD>
	</TR>
	<TR>
		<TD width="1%" NOWRAP>
			<B>{trans("Create time:")}</B>
		</TD>
		<TD width="99%">
			{$ticket.createtime|date_format:"%Y/%m/%d %H:%M:%S"}
		</TD>
	</TR>
	{if $ticket.ownername}
	<TR>
		<TD width="1%">
			<B>{trans("Owner:")}</B>
		</TD>
		<TD width="99%" NOWRAP>
			{$ticket.ownername}
		</TD>
	</TR>
	{/if}
{*
	<TR>
	        <TD width="1%">
			<B>{trans("Status:")}</B>
		</TD>
		<TD width="99%">
			{$ticket.status}
		</TD>
	</TR>
	<TR>
	        <TD width="1%">
			<B>{trans("Uptime:")}</B>
		</TD>
		<TD width="99%" NOWRAP>
			{$ticket.uptime}
		</TD>
	</TR>
	<TR>
	        <TD width="1%">
			<B>{trans("Queue:")}</B>
		</TD>
		<TD width="99%" NOWRAP>
			{$ticket.queuename}
		</TD>
	</TR>
*}
	<TR>
	        <TD width="1%">
			<B>{trans("Message:")}</B>
		</TD>
		<TD width="99%">
			{$ticket.messages.0.body|escape|replace:"\n":"<BR>"}
		</TD>
	</TR>
</TABLE>
{*
{if $stats}
<P>
<TABLE width="660" cellpadding="3" align="center">
        <TR CLASS="dark">
	        <TD width="1%" nowrap>
		        <B>{trans("Requests causes (last year):")}</B>
		</TD>
		<TD WIDTH="99%">
		        {trans("company's side")}: <B>{$stats.2.num|default:0}</B>,
			{trans("customer's side")}: <B>{$stats.1.num|default:0}</B>,
		        {trans("unknown/other<!plural>")}: <B>{$stats.0.num|default:0}</B>,
			{trans("all")}: <B>{$stats.0.num+$stats.1.num+$stats.2.num}</B>
		</TD>
	</TR>
</TABLE>
</P>
{/if}
*}
<P>
<TABLE width="100%" cellpadding="3" align="CENTER">
	<TR>
		<TD width="43%" class="HEAD" nowrap>
			Czynności wykonane przez serwis:
		</TD>
		<TD width="43%" class="HEAD" nowrap>
			Zużyte materiały i części:
		</TD>
		<TD width="10%" class="HEAD" wrap>
			Własność operatora:
		</TD>
		<TD width="7%" class="HEAD" align="right" nowrap>
			Ilość :
		</TD>
		<TD width="7%" class="HEAD" align="right" nowrap> 
			Wartość:
		</TD>
	</TR>
	<TR>
{*		<TD width="1%" class="flr"> *}
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P align="center"><input type="checkbox"></P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P align="center"><input type="checkbox"></P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P align="center"><input type="checkbox"></P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P align="center"><input type="checkbox"></P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P align="center"><input type="checkbox"></P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
		<TD width="1%" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" colspan="2" rowspan="4">
Operator gwarantuje sprawne działanie wyżej wymienionego zestawu. Urządzenia, będące  własnością operatora podlegają naprawie / wymianie w ciągu 7 dni od zgłoszenia, urządzenia sprzedane na własność klientowi ulegają naprawie wymianie w ciągu 14 dni roboczych, w określonym okresie gwarancyjnym (12 miesięcy gdy nie wyszczególniono inaczej). W przypadku awarii dostępu do internetu z powodu awarii urządzeń operatora, użytkownikowi przysługuje rabat zgodnie z regulaminem.<br><br>

Wartość urządzeń (zestawu abonenckiego), będącego własnością operatora wycenia się zgodnie z kolumną "Wartość". Użytkownik zobowiązuje się do zwrotu zestawu abonenckiego w ciągu 7dni od rozwiązania lub wygaśnięcia umowy. W przypadku nie wywiązania się z tego obowiązku operator będzie naliczał 3% wartości sprzętu za każdy dzień opóźnienia.<br><br>

Operator oświadcza iż przekazał wszelkie dane autoryzacyjne, niezbędne do  uzyskanie dostępu do usług. (Klucze WEP/WPA/WPA2, hasła PPPoE).
Abonent oświadcza, iż dane te mu są znane i wie jak ich używać.<br><br>
		</TD>
		<TD width="1%" align="right">
			<P><b>Dojazd:</b></P>
		</TD>
		<TD width="1%" colspan="2" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" align="right">
			<P><b>Materiały:</b></P>
		</TD>
		<TD width="1%" colspan="2" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" align="right">
			<P><b>Robocizna:</b></P>
		</TD>
		<TD width="1%" colspan="2" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
	<TR>
		<TD width="1%" align="right">
			<P><b>Razem brutto:</b></P>
		</TD>
		<TD width="1%" colspan="3" class="fall">
			<P>&nbsp;</P>
		</TD>
	</TR>
</TABLE>
</p>
<TABLE width="100%" cellpadding="3" align="CENTER">
	<TR>
		<TD width="100%" class="HEAD">
		{trans("Notes:")}	
		</TD>
	</TR>
	<TR>
		<TD width="100%" class="fall">
			<P>&nbsp;
			<P>&nbsp;
			<P>&nbsp;
			<P>&nbsp;
			<P>&nbsp;
			<P>&nbsp;
		</TD>
	</TR>
</TABLE>
<P>
<TABLE width="100%" cellpadding="3" align="center">
        <TR>
	        <TD width="100%" nowrap colspan="2" class="head">
		        <B>Potwierdzam zgodność danych zawartych w niniejszym protokole ze stanem faktycznym:</B>
			</TD>
		</TR>
		<TR>
			<TD WIDTH="50%" class="fall" align="center">
		 		<b>podpis Zgłaszającego:</b>
			</TD>
			<TD WIDTH="50%" class="fall" align="center">
		 		<b>podpis Serwisanta:</b>
			</TD>
		</TR>
		<TR>
			<TD WIDTH="50%" class="fall" align="center">
		 		<p>&nbsp</p>
		 		<p>&nbsp</p>
		 		<p>&nbsp</p>
			</TD>
			<TD WIDTH="50%" class="fall" align="center">
		 		<p>&nbsp</p>
		 		<p>&nbsp</p>
		 		<p>&nbsp</p>
			</TD>
		</TR>
</TABLE>
{include file="clearfooter.html"}
