{include file="header.html"}
<!--// $Id: accountlist.html,v 1.37 2007/07/02 14:15:51 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<P><TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark"">
		<TD width="1%" class="fleftu" NOWRAP>
			{t}Id:{/t}			
		</TD>
		<TD width="10%" class="fbt" align="right" valign="top" NOWRAP>
			{t}Create Date:{/t}
		</TD>
		<TD width="10%" class="fbt" align="right" valign="top" NOWRAP>
			{t}Send Date:{/t}
		</TD>
		<TD width="10%" valign="top" class="fbt" NOWRAP>
			{t}Phone:{/t}
		</TD>
		<TD width="20%" valign="top" class="fbt" NOWRAP>
			{t}Sender:{/t}
		</TD>
		<TD width="50%" class="fbt" NOWRAP valign="top" align="right">
			{t}Message:{/t}
		</TD>
	</TR>
	{if $listdata[listdata].total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="5" CLASS="FALL">
			{include file="scroller.html" loop=$smslist}
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=smslist loop=$smslist start=$start max=$pagelimit}
	<TR>
		<TD class="fleft">
			{$smslist[smslist].id}</nobr><BR>
		</TD>
		<TD align="right" NOWRAP valign="top">
			{$smslist[smslist].createdate|date_format:"%Y/%m/%d %H:%M"}
		</TD>
		<TD align="right" NOWRAP valign="top">
			{$smslist[smslist].senddate|date_format:"%Y/%m/%d %H:%M"}
		</TD>
		<TD valign="top" NOWRAP>
			{$smslist[smslist].sender_phone}
		</TD>		
		<TD valign="top" NOWRAP>
			{$smslist[smslist].senderid}
		</TD>
		<TD align="right" valign="top">
			{$smslist[smslist].message}
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="6" align="center" class="flr">
			<p>&nbsp;</p>
			<p><B>{t}No such sms.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata[listdata].total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="6" CLASS="FALL">
			{include file="scroller.html" loop=$smslist}
		</TD>
	</TR>
	{/if}
	<TR class="light">
		<TD colspan="5" class="fleftu" align="left" valign="top">
			<IMG SRC="img/info2.gif" alt=""> <B>{t}Total:{/t}{$listdata.total}</B>	
		</TD>
		<TD class="frightu" colspan="1" align="right">
			<A href="?m=accountadd&cid={$listdata.customer}">{t}New Account{/t} <IMG src="img/save.gif" alt=""></A>
		</TD>
	</TR>
</TABLE></P>
{include file="footer.html"}
