{include file="header.html"}
<!--// $Id: tariffadd.html,v 1.45 2005/10/19 13:34:49 lukas Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<P>
{literal}
<SCRIPT language="JavaScript">
<!--
function always()
{
//	alert(document.forms['hoursadd'].elements['hoursadd[from]']);
document.forms['hoursadd'].elements['hoursadd[from]'].value='00:00';
document.forms['hoursadd'].elements['hoursadd[to]'].value='23:59';
for (var i=0; i<document.hoursadd.elements.length; i++)
{
	var e = document.hoursadd.elements[i];
	if (e.type=='checkbox')
	e.checked = true;
}
}
-->
</SCRIPT>
{/literal}
<FORM METHOD="POST" NAME="hoursadd" ACTION="?m=v_houredit&c={$listdata.c}&id={$listdata.id}&id_rates={$smarty.get.id_rates}">
<INPUT type="submit" class="hiddenbtn">
<INPUT type="hidden" name="hoursadd[id_tariffs]" value="{$listdata.id}">
{section name=ids loop=$ids}
<input type="hidden" name="ids[]" value="{$ids[ids]}">
{/section}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
	    <TD WIDTH="1%" CLASS="fleftu">
		&nbsp;
	    </TD>
	    <TD WIDTH="99%" CLASS="frightu">
		&nbsp;
	    </TD>
	</TR>
	<TR class="LIGHT">
	    <TD WIDTH="100%" COLSPAN="2" CLASS="flr">
		<TABLE WIDTH="100%" CELLPADDING="0">
		    <TR CLASS="LIGHT">
			<TD WIDTH="50%" VALIGN="top">
			    <TABLE WIDTH="100%" CELLPADDING="3">
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					<IMG SRC="img/tax.gif" ALT="">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Od godz:</B></TD>
				    <TD WIDTH="98%">
					    <INPUT TYPE="TEXT" SIZE="8" NAME="hoursadd[from]" VALUE="{$hoursadd.from}" {tip trigger="from"}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					<IMG SRC="img/tax.gif" ALT="">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Do godz:</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" SIZE="8" NAME="hoursadd[to]" VALUE="{$hoursadd.to}" {tip trigger="to"}>
				    </TD>
				</TR>												
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Niedziela</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="checkbox" NAME="days[0]" VALUE="1"{if $days.0} checked="checked"{/if}>
				    </TD>
				</TR>
				
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Poniedziałek</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[1]" VALUE="1"{if $days.1} checked="checked"{/if}>
				    </TD>
				</TR>
				
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Wtorek</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[2]" VALUE="1"{if $days.2} checked="checked"{/if}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Środa</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[3]" VALUE="1"{if $days.3} checked="checked"{/if}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Czwartek</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[4]" VALUE="1"{if $days.4} checked="checked"{/if}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Piątek</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[5]" VALUE="1"{if $days.5} checked="checked"{/if}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Sobota</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[6]" VALUE="1"{if $days.6} checked="checked"{/if}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Święta</B></TD>
				    <TD WIDTH="98%">
		<INPUT TYPE="checkbox" NAME="days[7]" VALUE="1"{if $days.7} checked="checked"{/if}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					&nbsp;
				    </TD>
				    <TD WIDTH="99%" NOWRAP COLSPAN="2" align="center">
				<a href="#" onclick="always(); return false;">Zawsze</a>
</TD>
				    
				</TR>
				
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					<IMG SRC="img/class.gif" ALT="">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>Cena netto za minutę:</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" SIZE="8" NAME="hoursadd[price]" VALUE="{$hoursadd.price}" {tip text="Podaj cenę" trigger="price"}>
				    </TD>
				</TR>

			</TABLE>
		    </TD>
<!--		    <TD WIDTH="50%" VALIGN="top">
			<TABLE WIDTH="100%" CELLPADDING="3">
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
					<IMG SRC="img/uprate.gif" ALT="">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>{t}Upload rate:{/t}</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" NAME="tariffadd[uprate]" SIZE="8" VALUE="{if $tariffadd.uprate}{$tariffadd.uprate}{/if}" {tip text="Enter minimal warranted upload value (optional)" trigger="uprate"}> kbit/s
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>{t}Upload ceil:{/t}</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" NAME="tariffadd[upceil]" SIZE="8" VALUE="{if $tariffadd.upceil}{$tariffadd.upceil}{/if}" {tip text="Enter maximum upload value (optional)" trigger="upceil"}> kbit/s
				    </TD>
				</TR>
				<TR CLASS="LIGHT">			
				    <TD WIDTH="1%">
					<IMG SRC="img/downrate.gif" ALT="">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>{t}Download rate:{/t}</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" NAME="tariffadd[downrate]" SIZE="8" VALUE="{if $tariffadd.downrate}{$tariffadd.downrate}{/if}" {tip text="Enter minimal warranted download value (optional)" trigger="downrate"}> kbit/s
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>{t}Download ceil:{/t}</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" NAME="tariffadd[downceil]" SIZE="8" VALUE="{if $tariffadd.downceil}{$tariffadd.downceil}{/if}" {tip text="Enter maximum download value (optional)" trigger="downceil"}> kbit/s
				    </TD>
				</TR>
				<TR CLASS="LIGHT">			
				    <TD WIDTH="1%">
				    	<IMG SRC="img/online.gif" ALT="">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>{t}Connection limit:{/t}</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" NAME="tariffadd[climit]" SIZE="8" VALUE="{if $tariffadd.climit}{$tariffadd.climit}{/if}" {tip text="Enter limit of simultaneous connections (optional)" trigger="climit"}>
				    </TD>
				</TR>
				<TR CLASS="LIGHT">
				    <TD WIDTH="1%">
				    </TD>
				    <TD WIDTH="1%" NOWRAP><B>{t}Packet limit:{/t}</B></TD>
				    <TD WIDTH="98%">
					<INPUT TYPE="TEXT" NAME="tariffadd[plimit]" SIZE="8" VALUE="{if $tariffadd.plimit}{$tariffadd.plimit}{/if}" {tip text="Enter limit of packets in time unit (optional)" trigger="plimit"}>
				    </TD>
				</TR>
			    </TABLE>
			</TD>-->
		    </TR>
		</TABLE>
	    </TD>
	</TR>
	<TR CLASS="LIGHT">
	    <TD WIDTH="100%" COLSPAN="3" CLASS="FBOTTOMU" ALIGN="RIGHT"> 
	    	<A HREF="javascript:document.hoursadd.submit();" accesskey="s">{t}Submit{/t} <IMG SRC="img/save.gif" alt=""></A>
		<A HREF="?m=v_cennlist">{t}Cancel{/t} <IMG SRC="img/cancel.gif" alt=""></A>
	    </TD>
	</TR>
</TABLE></FORM></P>
{include file="footer.html"}
