<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>Numer</B>
		<TD WIDTH="98%" CLASS="FRIGHTU">
			{$nodedata.name}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Lokalizacja:</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
		Adres:	{if $nodedata.sipaddr}{$nodedata.sipaddr}{else}BRAK - UZUPEŁNIJ{/if}
			<br>
		Miasto:	{if $nodedata.sipcity}{$nodedata.sipcity}{else}BRAK - UZUPEŁNIJ{/if}
			<br>
		Kod pocztowy:	{if $nodedata.sippostcode}{$nodedata.sippostcode}{else}BRAK - UZUPEŁNIJ{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dozwolone adresy IP</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{if $nodedata.permit neq '0.0.0.0/0'}{$nodedata.permit|replace:';':','}{else}BRAK - UZUPEŁNIJ{/if}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Pin poczty głosowej</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodedata.mailboxpin}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}Pub. IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>W przypadku zajętości...</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.busy_action}

		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Numer przekierowania (gdy zajęty)</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodedata.busy_forward_number}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}Pub. IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>W przypadku niedostępności...</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.unavail_action}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Numer przekierowania (gdy niedostępny)</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.unavail_forward_number}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dozwolone kodeki</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.allow}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Niedozwolone kodeki</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodedata.disallow}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Opcja CanReInvite</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.canreinvite}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Sygnalizacja DTMF</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.dtmfmode}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>NAT</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.nat}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Qualify</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.qualify}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Zezwól na dzwonienie przez</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.trunks_allowed}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Taryfa konta</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.id_tariffs}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Abonament konta</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.id_subscriptions|default:'Brak'}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Numer do połączeń wdzwanianych</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.dialout eq 't'}TAK{else}NIE{/if}
</TD>
</TR>
{if $nodedata.finlimit}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Blokada połączeń po przekroczeniu kwoty<br>(możliwa do zmiany przez uzytkownika)</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.finlimit} zł
</TD>
</TR>
{/if}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Wysyłaj wiadomości z poczty głosowej na email</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.voice2email eq 't'}TAK{else}NIE{/if}
</TD>
</TR>
{if $nodedata.voicemailaddr}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Wysyłaj pocztę głosową na</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.voicemailaddr}
</TD>
</TR>
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Wysyłaj pocztę również na główny</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.voicetomainaddr eq 't'}TAK{else}NIE{/if}
</TD>
</TR>
{/if}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Wysyłaj odebrane faxy na email</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.fax2email eq 't'}TAK{else}NIE{/if}
</TD>
</TR>
{if $nodedata.faxmailaddr}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Wysyłaj faxy na</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.faxmailaddr}
</TD>
</TR>
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Wysyłaj faxy również na główny</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.faxtomainaddr eq 't'}TAK{else}NIE{/if}
</TD>
</TR>
{/if}
{if $customerinfo.virtualpbx eq 't'}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Uruchom wirtualną centralę PBX na tym numerze</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.virtualpbx eq 't'}TAK{else}NIE{/if}
</TD>
</TR>
{/if}
{if $nodedata.afinlimit}
	<TR CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">
	<IMG SRC="img/phone.gif" ALT="">
</TD>
<TD WIDTH="1%" NOWRAP>
	<B>Blokada połączeń po przekroczeniu kwoty</B>
</TD>
<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.afinlimit} zł
</TD>
</TR>
{/if}
{if $nodedata.incuser && $nodedata.inchost}
<tr CLASS="LIGHT"><TD WIDTH="1%" CLASS="FLEFT">&nbsp;</TD><td colspan="2" CLASS="FRIGHT"><hr></td></tr>
<tr CLASS="LIGHT"><TD WIDTH="1%" CLASS="FLEFT">&nbsp;</TD><td colspan="2" CLASS="FRIGHT"><b>Ustawienia klienta SIP do połączeń z innych sieci</b></td></tr>
<tr CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">&nbsp;</TD>
<td><b>Login</b></td><td CLASS="FRIGHT">{$nodedata.incuser}</td></tr>
<tr CLASS="LIGHT">
<TD WIDTH="1%" CLASS="FLEFT">&nbsp;</TD>
<td><b>Adres serwera</b></td><td CLASS="FRIGHT">{$nodedata.inchost}</td></tr>
<tr CLASS="LIGHT"><TD WIDTH="1%" CLASS="FLEFT">&nbsp;</TD><td colspan="2" CLASS="FRIGHT"><hr></td></tr>
{/if}
<TR CLASS="LIGHT">
	<TD WIDTH="1%" CLASS="FLEFT">
		<IMG SRC="img/users.gif" ALT="">
	</TD>
	<TD WIDTH="1%">
		<B>{t}Created:{/t}<BR>
		{t}Modified:{/t}</B>
	</TD>
	<TD WIDTH="98%" CLASS="FRIGHT">
		<NOBR>{$nodedata.createdby}, {$nodedata.creationdate}</NOBR><BR>
		<NOBR>{if $nodedata.modifydate}{$nodedata.modifiedby}, {$nodedata.modifydate}{else}-{/if}</NOBR>
	</TD>
</TR>
<TR CLASS="LIGHT"><TD CLASS="FLEFT">&nbsp;</TD>
<TD><A HREF="?m=v_allowedrates&amp;account={$nodedata.id}">Dozwolone strefy</A></TD><TD CLASS="FRIGHT"><A HREF="?m=v_print&amp;account={$nodedata.id}" target="_blank">Drukuj ustawienia</A></TD></TR>
{if $customerinfo.virtualpbx eq 't'}
<TR CLASS="LIGHT"><TD CLASS="FLEFT">&nbsp;</TD>
<TD><A HREF="?m=v_vpbx&amp;id={$nodedata.id}">Ustawienia wirtualnej centrali PBX</A></TD><TD CLASS="FRIGHT">&nbsp;</TD></TR>
{/if}
<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="?m=customerinfo&id={$nodedata.ownerid}">Wszystkie konta <IMG SRC="img/cancel.gif" ALT=""></A>
			<A HREF="?m=v_nodedel&id={$nodedata.id}" onClick="return confirmLink(this, 'Napewno usunąć konto ?')">{t}Delete{/t} <IMG SRC="img/delete.gif" ALT=""></A>
			<A HREF="?m=v_nodeedit&id={$nodedata.id}" ACCESSKEY="E">{t}Edit{/t} <IMG SRC="img/edit.gif" ALT=""></A>
		</TD>
	</TR>	
</TABLE>
