{include file="header.html"}
<!--// $Id: nodesearchresults.html,v 1.52 2009/03/15 10:41:33 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<P><table cellpadding="3" width="100%">
	<TR class="dark">
		<TD class="fleftu" width="97%">
			<img src="img/phone.gif" ALT=""><B>{t}Name:{/t}</B><BR>
			<img src="img/customer.gif" ALT="">{t}Owner:{/t}</TD>
		<TD CLASS="frightu" width="1%" align="right">
			<NOBR><B>{t a=$listdata.total}Total: $a{/t}</B></NOBR>
		</TD>
	</TR>
	{cycle values="light,lucid" print=false}
	{section name=nodelist loop=$nodelist}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD width="95%" class="fleft" onClick="return self.location.href='?m=nodeinfo&id={$nodelist[nodelist].id}';">
			<a name="{$nodelist[nodelist].id}">
			<B>{$nodelist[nodelist].name}</B></A><BR>
			<img src="img/customer.gif" ALT="">&nbsp;<A href="?m=customerinfo&id={$nodelist[nodelist].ownerid}" {tip a=$nodelist[nodelist].ownerid dynpopup='?m=customerinfoshort&id=$a'}>{$nodelist[nodelist].owner|truncate:60:" ..."|replace:" ":"&nbsp;"}</A>
		<TD class="fright" width="1%">
			<nobr>
			<a href="?m=v_nodedel&id={$nodelist[nodelist].id}" onClick="return confirmLink(this, '{t a=$nodelist[nodelist].name|upper}Are you sure, you want to delete SIP \'$a\' from database?{/t}')"><img src="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
			<a href="?m=v_nodeedit&id={$nodelist[nodelist].id}"><img src="img/edit.gif" ALT="[ {t}Edit{/t} ]"></A>
			<a href="?m=v_nodeinfo&id={$nodelist[nodelist].id}"><img src="img/info.gif" ALT="[ {t}Info{/t} ]"></A>
			</nobr>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="2" class="fall" align="center">
			<P>&nbsp;</P>
			<P><B>{t}No such SIP matching search criteria.{/t}</B></P>
			<P>&nbsp;</P>
		</TD>
	</TR>
	{/section}
	<TR CLASS="dark">
		<TD CLASS="fall" colspan="4">
		&nbsp;
		</TD>
	</TR>
</TABLE></P>
{include file="footer.html"}
