{include file="header.html"}
<H1>{$layout.pagetitle}</H1>
<FORM NAME="numberadd" METHOD="POST" ACTION="?m=v_numbersadd">
<INPUT type="submit" class="hiddenbtn">
<input type="hidden" name="n[id]" value="{$n.id}">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>Nazwa</B>
		<TD WIDTH="98%" CLASS="FRIGHTU">
			<INPUT TYPE="TEXT" NAME="n[desc]" VALUE="{$n.desc}" {tip trigger="name" bold=1}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/node.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>Darmowe minuty</B>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=n[allowfree] options=$af selected=$n.allowfree}			
		</TD>
	</TR>
	<TR CLASS="LIGHT">
	<TD WIDTH="1%" CLASS="FLEFT">
		<IMG SRC="img/node.gif" ALT="">
	</TD>
	<TD WIDTH="1%">
		<B>Grupa</B>
	<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=n[id_rategroups] options=$rategroups selected=$n.id_rategroups}			
	</TD>
</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.numberadd.submit();" ACCESSKEY="s">{t}Submit{/t} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=v_numbers">{t}Cancel{/t} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>	
</TABLE></FORM>
{include file="footer.html"}
