{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="5">
<TR class="dark">
	<TD WIDTH="93%" CLASS="fleftu">
<FORM action="?m=v_numbers&id_tariff={$smarty.get.id_tariff}&trunk={$smarty.get.trunk}" method="post">
Część nazwy lub numeru: <input type="text" name="numer" value="{$numer}"> <input type="submit" value="szukaj">
</form>
</TD>
<TD WIDTH="1%" CLASS="frightu" ALIGN="RIGHT">
</TD>
</TR></TABLE>
<br>
<TABLE WIDTH="100%" CELLPADDING="5">
	<TR class="dark">
		<TD WIDTH="93%" CLASS="fleftu">
			<IMG SRC="img/money.gif" ALT="">&nbsp;<B>{t}Name:{/t}</B>
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}ID:{/t}
		</TD>
		{if $smarty.get.id_tariff}
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
		Średnio za min.
		</TD>
		{/if}
		<TD NOWRAP WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			Darmowe minuty:
		</TD>	
		<TD WIDTH="1%" CLASS="frightu" ALIGN="RIGHT">
			<a href="?m=v_numbersadd">Nowy</a>
		</TD>
	</TR>
	{cycle values="light,lucid" print=false}
	{section name=n loop=$n}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD WIDTH="93%" CLASS="fleft" class="fleft">
			<IMG SRC="img/money.gif" ALT="">&nbsp;<B>{$n[n].desc}</B>
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right">
			({$n[n].id})
		</TD>
		{if $smarty.get.id_tariff}
		<TD WIDTH="1%" VALIGN="top" align="right">
		{$n[n].price|default:'0'}
		</TD>
		{/if}
		<TD WIDTH="1%" VALIGN="top" align="right">
			{if $n[n].allowfree}TAK{else}NIE{/if}
		</TD>
		<TD WIDTH="1%" CLASS="fright" ALIGN="right"><nobr>
{if $smarty.get.id_tariff}
{if $smarty.get.trunk}
<a href="?m=v_trunkhours&id={$smarty.get.id_tariff}&id_rates={$n[n].id}">godziny</a> {else}
<a href="?m=v_hours&id={$smarty.get.id_tariff}&id_rates={$n[n].id}">godziny</a> {/if}{/if}
<a href="?m=v_numbersdet&id={$n[n].id}">numery</a>
<a href="?m=v_numbersadd&id={$n[n].id}"><img src="img/edit.gif" border="0" alt="Edytuj"></a>
<a href="?m=v_numbersdel&id={$n[n].id}" onClick="return confirmLink(this,'Jesteś pewien ?')"><img src="img/delete.gif" border="0" alt="Usuń"></a>
</nobr></TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="5" ALIGN="center" CLASS="fall">
			<p>&nbsp;</p>
			<p><B>Brak wzorców.</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	<TR CLASS="light">
		<TD CLASS="fleftu" COLSPAN="4" WIDTH="99%" ALIGN="right">
			&nbsp;
		</TD>
		<TD CLASS="frightu" WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
