{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="5">
	<TR class="dark">
		<TD WIDTH="93%" CLASS="fleftu">
			<IMG SRC="img/money.gif" ALT="">&nbsp;<B>{t}Name:{/t}</B><BR>
			<IMG SRC="img/info1.gif" ALT="">&nbsp;Darmowych minut:
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}ID:{/t}
		</TD>
		<TD NOWRAP WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}Value:{/t}<BR>
			{t}Tax:{/t}
		</TD>	
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}Assigned:{/t}
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			<NOBR>{t}Avg. monthly income:{/t}</NOBR>
		</TD>
		<TD WIDTH="1%" CLASS="frightu" ALIGN="RIGHT">
			<NOBR>
			<B>{t a=$listdata.total}Total: $a{/t}</B>
			</NOBR>
		</TD>
	</TR>
	{cycle values="light,lucid" print=false}
	{section name=tariffs loop=$tarifflist}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD WIDTH="93%" CLASS="fleft" onClick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';" class="fleft">
			<IMG SRC="img/money.gif" ALT="">&nbsp;<B>{$tarifflist[tariffs].name}</B><BR>
			<IMG SRC="img/info1.gif" ALT="">&nbsp;{$tarifflist[tariffs].free}
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			({$tarifflist[tariffs].id|string_format:"%04d"})
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			<NOBR>
			{$tarifflist[tariffs].amount|money_format} <BR>
			{$tarifflist[tariffs].tax}
			</NOBR>
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			{$tarifflist[tariffs].customerscount} 
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			{$tarifflist[tariffs].income|money_format} 
		</TD>
		<TD WIDTH="1%" CLASS="fright" ALIGN="right">
			<NOBR>
{if $tarifflist[tariffs].customerscount}<A HREF="javascript:alert('{t}Subscription with assigned customers cannot be deleted!{/t}');">{else}<A HREF="?m=v_tariffdelete&id={$tarifflist[tariffs].id}" onClick="return confirmLink(this,'{t}Are you sure, you want to delete that tariff?{/t}');">{/if}<IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
				<A HREF="?m=v_tariffedit&id={$tarifflist[tariffs].id}"><IMG SRC="img/edit.gif" ALT="[ {t}Edit{/t} ]"></A>
				<A HREF="?m=v_tariffinfo&id={$tarifflist[tariffs].id}"><IMG SRC="img/info.gif" ALT="[ {t}Info{/t} ]"></A>
			</NOBR>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="6" ALIGN="center" CLASS="fall">
			<p>&nbsp;</p>
			<p><B>{t}No such subscriptions in database.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	<TR CLASS="light">
		<TD CLASS="fleftu" COLSPAN="3" WIDTH="97%" ALIGN="right">
			<IMG SRC="img/info2.gif" ALT="">&nbsp;<B>{t}Total:{/t}</B>
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="right" NOWRAP>
			<B>{$listdata.totalcount}</B>
		</TD>
		<TD CLASS="fbt" WIDTH="1%" ALIGN="right" NOWRAP>
			<B>{$listdata.totalincome|money_format}</B>
		</TD>
		<TD CLASS="frightu" WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
