{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<!--// $Id: nodeaddbox.html,v 1.55 2006/02/13 17:01:25 chilek Exp $ //-->
<FORM NAME="nodeadd" METHOD="POST" ACTION="?m=v_trunknew">
<INPUT type="submit" class="hiddenbtn">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>Nazwa</B>
		<TD WIDTH="98%" CLASS="FRIGHTU">
			<INPUT TYPE="TEXT" NAME="nodedata[name]" VALUE="{$nodedata.name}" MAXLENGTH="16" {tip trigger="name" bold=1}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/node.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>Login</B>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedata[username]" VALUE="{$nodedata.username}" MAXLENGTH="16" {tip trigger="username" bold=1}>
		</TD>
	</TR>
		<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/passwd.gif" ALT="{t}Password:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{t}Password:{/t}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="PASSWORD" NAME="nodedata[secret]" VALUE="{$nodedata.secret}" {tip text="Enter password (optional)" trigger="secret"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Adres IP serwera</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedata[defaultip]" VALUE="{$nodedata.defaultip}" {tip trigger="defaultip"}> 
		</TD>
	</TR>
		<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dial string</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedata[dial_string]" VALUE="{$nodedata.dial_string}" {tip trigger="dial_string"}> 
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}Pub. IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Grupa cennikowa</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=nodedata[id_trunk_groups] options=$trunkgroups selected=$nodedata.id_trunk_groups}

		</TD>
	</TR>

<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dozwolone kodeki</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedata[allow]" VALUE="{$nodedata.allow|default:'g726,ulaw,alaw'}" {tip text="Wpisz nazwy dozwolonych kodeków" trigger="allow"}>
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Niedozwolone kodeki</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="nodedata[disallow]" VALUE="{$nodedata.disallow|default:'all'}" {tip text="Wpisz nazwy niedozwolonych kodeków" trigger="disallow"}>
		</TD>
	</TR>

<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Łącze wychodzące</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=nodedata[outgoing_trunk] options=$yesno1 selected=$nodedata.outgoing_trunk}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Rejestruj łącze</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=nodedata[register] options=$yesno1 selected=$nodedata.register}
		</TD>
	</TR>

<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Sygnalizacja DTMF</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=nodedata[dtmfmode] options=$dtmfmode selected=$nodedata.dtmfmode}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>NAT</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=nodedata[nat] options=$nat selected=$nodedata.nat}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Qualify</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{html_options name=nodedata[qualify] options=$yesno selected=$nodedata.qualify}
		</TD>
	</TR>




	<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.nodeadd.submit();" ACCESSKEY="s">{t}Submit{/t} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=v_trunklist">{t}Cancel{/t} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>	
</TABLE></FORM>
{include file="footer.html"}