{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="5">
	<TR class="dark">
		<TD WIDTH="93%" CLASS="fleftu">
			<IMG SRC="img/money.gif" ALT="">&nbsp;<B>{t}Name:{/t}</B>
		</TD>
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}ID:{/t}
		</TD>
		<TD NOWRAP WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			Średnio za minutę:
		</TD>	
		<TD WIDTH="1%" VALIGN="top" CLASS="fbt" align="right">
			{t}Assigned:{/t}
		</TD>
		<TD WIDTH="1%" CLASS="frightu" ALIGN="RIGHT">
			<NOBR>
			&nbsp;
			</NOBR>
		</TD>
	</TR>
	{cycle values="light,lucid" print=false}
	{section name=tariffs loop=$trunkgrplist}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD WIDTH="93%" CLASS="fleft" onClick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';" class="fleft">
			<IMG SRC="img/money.gif" ALT="">&nbsp;<B>{$trunkgrplist[tariffs].name}</B>
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';">
			({$trunkgrplist[tariffs].id|string_format:"%04d"})
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';">
			<NOBR>
			{$trunkgrplist[tariffs].amount|money_format} 
			</NOBR>
		</TD>
		<TD WIDTH="1%" VALIGN="top" align="right" onClick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';">
			{$trunkgrplist[tariffs].customerscount|default:0} 
		</TD>
		<TD WIDTH="1%" CLASS="fright" ALIGN="right">
			<NOBR>
{if $trunkgrplist[tariffs].customerscount}<A HREF="javascript:alert('{t}Subscription with assigned customers cannot be deleted!{/t}');">{else}<A HREF="?m=v_trunkgrpdelete&id={$trunkgrplist[tariffs].id}" onClick="return confirmLink(this,'{t}Are you sure, you want to delete that tariff?{/t}');">{/if}<IMG SRC="img/delete.gif" ALT="[ {t}Delete{/t} ]"></A>
				<A HREF="?m=v_trunkgrpedit&id={$trunkgrplist[tariffs].id}"><IMG SRC="img/edit.gif" ALT="[ {t}Edit{/t} ]"></A>
				<A HREF="?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}"><IMG SRC="img/info.gif" ALT="[ {t}Info{/t} ]"></A>
			</NOBR>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD COLSPAN="6" ALIGN="center" CLASS="fall">
			<p>&nbsp;</p>
			<p><B>{t}No such subscriptions in database.{/t}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	<TR CLASS="light">
		<TD CLASS="fleftu" COLSPAN="4" WIDTH="99%" ALIGN="right">
			&nbsp;
		</TD>
		<TD CLASS="frightu" WIDTH="1%">
			&nbsp;
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
