{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK">
		<TD WIDTH="1%" CLASS="FLEFTU">
			<IMG SRC="img/node.gif" ALT="">
		</TD>
		<TD WIDTH="1%" CLASS="FBT">
			<B>Nazwa</B>
		<TD WIDTH="98%" CLASS="FRIGHTU">
			{$nodedata.username}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Login</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodedata.name}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}Pub. IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Adres IP</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.defaultip}

		</TD>
	</TR>
		<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}Pub. IP address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dial string</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.dial_string}

		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Grupa cennikowa</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodedata.trunkgroupname}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Dozwolone kodeki</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.allow}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Niedozwolone kodeki</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			{$nodedata.disallow}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Łącze wychodzące</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.outgoing_trunk}tak{else}nie{/if}
		</TD>
	</TR>
		<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Rejestruj łącze</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{if $nodedata.register}tak{else}nie{/if}
		</TD>
	</TR>
<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Sygnalizacja DTMF</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.dtmfmode}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>NAT</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.nat}
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/phone.gif" ALT="{t}MAC address:{/t}">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>Qualify</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
{$nodedata.qualify}
		</TD>
	</TR>


<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="?m=v_trunklist">Wszystkie łącza <IMG SRC="img/cancel.gif" ALT=""></A>
			<A HREF="?m=v_trunkdel&id={$nodedata.id}" onClick="return confirmLink(this, 'Napewno usunąć konto ?')">{t}Delete{/t} <IMG SRC="img/delete.gif" ALT=""></A>
			<A HREF="?m=v_trunkedit&id={$nodedata.id}" ACCESSKEY="E">{t}Edit{/t} <IMG SRC="img/edit.gif" ALT=""></A>
		</TD>
	</TR>	
</TABLE>
{include file="footer.html"}