<TABLE cellpadding="3" WIDTH="100%">
	<TR class="light">
		<TD width="1%" class="ftl">
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD width="1%" class="ftop" NOWRAP>
			<B>Przedmiot umowy zlecenia:</B>
		</TD>
		<TD width="98%" class="ftr" NOWRAP>
			<SELECT name="document[czynnosci]">
				<OPTION>-- wybierz --</OPTION>
				<OPTION value="opieka serwisowa nad siecią szkieletową, prace instalacyjne i modernizacyjne w sieci zleceniodawcy, usuwanie usterek u klientów zleceniodawcy">Technik utrzymania sieci</OPTION>
				<OPTION value="administracyjna obsługa klienta, tworzenie umów aneksów, przygotowywanie ofert dla klientów zleceniodawcy">Pracownik BoK</OPTION>
			</SELECT>
		</TD>
	</TR>
	<TR class="light">
		<TD width="1%" class="fbl">
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD width="1%" class="fbottom" NOWRAP>
			<B>Kwota (brutto):</B>
		</TD>
		<TD width="98%" class="fbr" NOWRAP>
			<INPUT type="text" site="10" name="document[value]" {tip text="Wprowadź kwotę umowy brutto"}></INPUT>
		</TD>
	</TR>
</TABLE>

